.pet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    gap: 5px;
    justify-content: flex-start;

}

.cat{
    color: crimson;
    width: 200px;
    padding: 10px;

}

.dog{
    color: chartreuse;
    width: 200px;
    padding: 10px;
}